.el-badge {
  --el-badge-bg-color: var(--el-color-error);
  --el-badge-size: 16px;

  display: inline-flex;
  align-items: center;
}

.el-badge__content {
  min-width: 16px;
  border: none;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 12px;
}

.el-badge__content.is-dot {
  width: 6px;
  height: 6px;
  min-width: unset;

  &.is-fixed {
    right: 3px;
  }
}


.el-badge__content--info {
  background-color: var(--el-color-info);
}