.DS_Store
node_modules
.worktrees
.sst
.env
.env.*
!.env.example
.idea
.vscode
.codex
.claude
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
CLAUDE.md
tsconfig.tsbuildinfo

bun.lock
.bunfig.toml

analysis/

packages/app/octoapp/pages/pattern/test
packages/app/octoapp/pages/pattern/vue-project