.el-switch {
  --el-switch-on-color: var(--el-color-primary);
  --el-switch-off-color: var(--switch-off-bg);
  .el-icon {
    transform: scale(1);
  }
   
}
:root{
  --switch-off-bg: var(--neutral-300);
}
.theme-dark{
  --switch-off-bg: var(--neutral-600);
}

