.el-tag__content {
  display: inline-flex;
  align-items: center;
}

.el-tag {
  --el-tag-border-radius: var(--radius-md);
}


// dark
.el-tag--dark.el-tag--primary,
.el-tag--dark.el-tag--success,
.el-tag--dark.el-tag--warning,
.el-tag--dark.el-tag--danger,
.el-tag--dark.el-tag--info {
  --el-tag-text-color: var(--el-color-white);
}

.el-tag--dark.el-tag--primary {
  --el-tag-bg-color: var(--el-color-primary);
  --el-tag-border-color: var(--el-color-primary);
  --el-tag-hover-color: var(--el-color-primary-light-3);
}

.el-tag--dark.el-tag--success {
  --el-tag-bg-color: var(--el-color-success);
  --el-tag-border-color: var(--el-color-success);
  --el-tag-hover-color: var(--el-color-success-light-3);
}

.el-tag--dark.el-tag--info {
  --el-tag-bg-color: var(--el-color-info);
  --el-tag-border-color: var(--el-color-info);
  --el-tag-hover-color: var(--el-color-info-light-3);
}

.el-tag--dark.el-tag--warning {
  --el-tag-bg-color: var(--el-color-warning);
  --el-tag-border-color: var(--el-color-warning);
  --el-tag-hover-color: var(--el-color-warning-light-3);
}

.el-tag--dark.el-tag--danger {
  --el-tag-bg-color: var(--el-color-danger);
  --el-tag-border-color: var(--el-color-danger);
  --el-tag-hover-color: var(--el-color-danger-light-3);
}

// plain
.el-tag--plain.el-tag--primary,
.el-tag--plain.el-tag--success,
.el-tag--plain.el-tag--info,
.el-tag--plain.el-tag--warning,
.el-tag--plain.el-tag--danger {
  --el-tag-bg-color: var(--surface-default);
}








.theme-dark {
  .el-tag--dark.el-tag--primary {
    --el-tag-bg-color: #5990fd;
    --el-tag-border-color: #5990fd;
    --el-tag-hover-color: #5990fd;
  }

  .el-tag--dark.el-tag--success {
    --el-tag-bg-color: #0d9458;
    --el-tag-border-color: #0d9458;
    --el-tag-hover-color: #0d9458;
  }

  .el-tag--dark.el-tag--info {
    --el-tag-bg-color: #818181;
    --el-tag-border-color: #818181;
    --el-tag-hover-color: #818181;
  }

  .el-tag--dark.el-tag--warning {
    --el-tag-bg-color: #eeba18;
    --el-tag-border-color: #eeba18;
    --el-tag-hover-color: #eeba18;
  }

  .el-tag--dark.el-tag--danger {
    --el-tag-bg-color: #ec6f1a;
    --el-tag-border-color: #ec6f1a;
    --el-tag-hover-color: #ec6f1a;
  }

  // light
  .el-tag.el-tag--primary {
    --el-tag-text-color: var(--primary-300);
    --el-tag-bg-color: rgb(from var(--primary-300) r g b / 0.15);
    --el-tag-border-color: rgb(from var(--primary-300) r g b  / 0.15);
  }

  .el-tag.el-tag--success {
    --el-tag-text-color: var(--success-400);
    --el-tag-bg-color: rgb(from var(--success-400) r g b  / 0.15);
    --el-tag-border-color: rgb(from var(--success-400) r g b / 0.15);
  }

  .el-tag.el-tag--info {
    --el-tag-text-color: var(--neutral-300);
    --el-tag-bg-color: rgb(from var(--neutral-300) r g b / 0.15);
    --el-tag-border-color: rgb(from var(--neutral-300) r g b / 0.15);
  }

  .el-tag.el-tag--warning {
    --el-tag-text-color: var(--warning-300);
    --el-tag-bg-color: rgb(from var(--warning-300) r g b / 0.15);
    --el-tag-border-color: rgb(from var(--warning-300) r g b / 0.15);
  }

  .el-tag.el-tag--danger {
    --el-tag-text-color: var(--alert-400);
    --el-tag-bg-color: rgb(from var(--alert-500) r g b / 0.15);
    --el-tag-border-color: rgb(from var(--alert-500) r g b / 0.15);
  }


}