.column-child-skeleton {
    height: 32px;
}

.row-child-skeleton {
    height: 32px;
    flex: 1;
}

.grid-child-skeleton {
    width: 100%;
    height: 32px;
}

.list-child-skeleton {
    width: 100%;
    height: 32px;
}

.tabs-child-skeleton {
    width: 100%;
    height: 32px;
}

.accordion-child-skeleton {
    width: 100%;
    height: 32px;
}

.steps-child-skeleton {
    width: 100%;
    height: 32px;
}

.text-skeleton {
    width: 100%;
    height: 26px;
}

.button-skeleton {
    width: 100%;
    height: 28px;
}

.image-skeleton {
    width: 100%;
    height: 100%;
}

.icon-skeleton {
    width: 20px;
    height: 20px;
}

.card-child-skeleton {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.surface-child-skeleton {
    width: 100%;
    aspect-ratio: 16 / 9;
}