.el-collapse {
  --el-collapse-header-height: 40px;
  --el-collapse-header-font-size: var(--el-font-size-base);
  --el-collapse-content-bg-color: transparent;
  --el-collapse-content-font-size: var(--el-font-size-medium);
}

.el-collapse-item__header {
  padding: 0 var(--spacing-4);
  font-weight: var(--el-font-weight-primary);
  border-bottom: unset;
  background-color: var(--collapse-header-bg);
}

:root{
  --collapse-header-bg: rgb(from var(--neutral-900) r g b / 0.05);
}

.theme-dark {
  --collapse-header-bg: rgb(from #eeeeee r g b / 0.08);
}
