.el-rate {
  --el-rate-icon-margin: 5px;
  --el-rate-fill-color: var(--el-color-warning);
  --el-rate-disabled-void-color: var(--el-fill-color-dark);
}

.theme-dark {
  .el-rate {
    --el-rate-fill-color: var(--warning-500);
    --el-rate-disabled-void-color: var(--neutral-600);
  }
}