.el-date-editor {
  --el-input-bg-color: transparent;
}

.el-picker-panel {
  --el-datepicker-text-color: var(--el-text-color-primary);
  --el-datepicker-off-text-color: var(--el-text-color-disabled);
  --el-datepicker-header-text-color: var(--el-text-color-primary);
  --el-datepicker-inrange-bg-color: var(--primary-50);
  --el-datepicker-inrange-hover-bg-color: var(--primary-50);
  --el-datepicker-hover-text-color: var(--el-text-color-primary);
  color: var(--el-text-color-primary);
}

.el-date-table {

  td.next-month,
  td.prev-month {
    color: var(--el-datepicker-off-text-color);
  }

  td.current:not(.disabled) .el-date-table-cell__text {
    border-radius: var(--el-border-radius-base);
  }

  td.available:hover .el-date-table-cell .el-date-table-cell__text {
    background-color: var(--primary-100);
    border-radius: var(--el-border-radius-base);
  }

  td.start-date .el-date-table-cell,
  td.end-date .el-date-table-cell {
    background-color: var(--primary-500);
    .el-date-table-cell__text{
      background-color: transparent;
    }
  }

  td.start-date .el-date-table-cell {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  td.end-date .el-date-table-cell {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.el-year-table,
.el-month-table {
  td.today .el-date-table-cell__text {
    color: var(--el-text-color-primary);
    font-weight: var(--el-font-weight-primary);
  }

  td .el-date-table-cell__text {
    border-radius: var(--el-border-radius-base);
  }

  td:hover .el-date-table-cell__text {
    background-color: var(--primary-100);
  }
}

.el-date-editor--daterange.el-input__wrapper {
  flex-grow: unset;
}

.theme-dark {

  .el-picker-panel {
    --el-datepicker-icon-color: var(--neutral-100);
    --el-datepicker-hover-text-color: var(--text-default);
    --el-datepicker-inrange-bg-color: rgb(from var(--primary-500) r g b / 0.4);
    --el-datepicker-inrange-hover-bg-color: rgb(from var(--primary-500) r g b / 0.6);
  }

  .el-date-table {
    td.available:hover {
      .el-date-table-cell .el-date-table-cell__text {
        background-color: rgb(from var(--neutral-50) r g b / 0.2);
      }
    }
  }

  .el-year-table,
  .el-month-table {

    td:hover .el-date-table-cell__text {
      background-color: rgb(from var(--neutral-50) r g b / 0.2);
    }
  }
}