.el-timeline {
  --el-timeline-node-color: var(--neutral-400);
}

.el-timeline-item__content {
  color: var(--el-text-color-regular);
}

.el-timeline-item__node.is-hollow {
  border-width: 1px;
}
.el-timeline-item__tail {
  height: calc(100% - 20px);
  margin-top: 16px;
  border-left: 1px solid var(--neutral-100);
}

.el-timeline-item .el-timeline-item__icon {
 
  font-size: 0;
}
.el-timeline-item__timestamp.is-top {
  margin-bottom:0;
  padding-top:0
}
.el-timeline-item__timestamp.is-bottom {
  margin-top: 0;
}
.theme-dark {
  .el-timeline-item__tail {
    border-left: 1px solid  rgb(from var(--neutral-50) r g b / 0.15);
  }
  .el-timeline-item__node {
    background-color: #2070F3 !important;
  }
}