.el-input-number__increase:hover
  ~ .el-input:not(.is-disabled)
  .el-input__wrapper,
.el-input-number__decrease:hover
  ~ .el-input:not(.is-disabled)
  .el-input__wrapper {
  box-shadow: 0 0 0 1px
    var(--el-border-color-hover, var(--el-border-color-hover)) inset;
}

.el-input-number__increase, 
.el-input-number__decrease {
  top: 8px;
  bottom: 8px;
  background-color: var(--el-input-bg-color, var(--el-fill-color-blank));
}

.el-input-number__increase {
  border-left: 1px solid var(--el-border-color-light);
}
.el-input-number__decrease {
  border-right: 1px solid var(--el-border-color-light);
}
.theme-dark {
  .el-input-number__increase, 
  .el-input-number__decrease {
    background-color: transparent;
  }
}
